@{
    Layout = "~/Views/Shared/_Display.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/styles/new.css"/>
@model News
<div style="margin-top:-20px"></div>
<div class="page">
    <div class="container">
        <div class="col-md-8 page-content" style="box-shadow:3px 3px 3px #ccc;">
                <div class="panel-heading">
                    <h4 style="text-align:center;">@Model.Title</h4>
                    <p class="text-muted"><small>发布时间：@Model.Datatime</small> &nbsp;&nbsp;&nbsp;<small class="pull-right">浏览量：<span>9999+</span></small></p>
                </div>
                <div class="panel-body">
                    <p>@Model.Content</p>
                </div>
        </div>
        <div class="col-md-4">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#latestnews" data-toggle="tab">最新新闻</a>
                </li>
                <li>
                    <a href="#hotnews" data-toggle="tab">热点新闻</a>
                </li>
                <li>
                    <a href="#recommendednews" data-toggle="tab">推荐新闻</a>
                </li>
                <li>
                    <a asp-action="News" asp-controller="Page" class="pull-right">更多</a>
                </li>
            </ul>
            <div class="panel">
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="latestnews">
                                                        @foreach (News latesnews in ViewBag.latestnews)
                                                        {
                                                            <p><a asp-action="News" asp-controller="Show" asp-route-id="@latesnews.Id">@latesnews.Title</a><small class="pull-right text-muted">@latesnews.Datatime</small></p>
                                                        }
                        </div>
                        <div class="tab-pane fade" id="hotnews">
                            @foreach (News hotnews in ViewBag.hotnews)
            {
                                <p><a asp-action="News" asp-controller="Show" asp-route-id="@hotnews.Id">@hotnews.Title</a><small class="pull-right text-muted">@hotnews.Datatime</small></p>
                            }
                        </div>
                        <div class="tab-pane fade" id="recommendednews">
                            @foreach (News recommendednews in ViewBag.recommendednews)
            {
                                <p><a asp-action="News" asp-controller="Show" asp-route-id="@recommendednews.Id">@recommendednews.Title</a><small class="pull-right text-muted">@recommendednews.Datatime</small></p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>