@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/styles/new.css" />
@model IEnumerable<Article>
<div style="margin-top:-20px;"></div>
<div class="articlebanner">
    <div class="container" style="height:200px;">
        <hgroup>
            <h1>师生文章</h1>
            <h4>我校学生文章，老师随笔...</h4>
            <h4>欢迎点击浏览</h4>
        </hgroup>
    </div>
</div>
<div class="article">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="container-fluid">
                    <div class="row info-content">
                        @foreach (var x in Model)
                        {                    
                            <div style="height:15px;background-color:#fff;"></div>
                                            <h4 style="margin:5px 10px 10px 10px;"><a asp-action="Article" asp-controller="Show" asp-route-id="@x.Id" style="text-decoration:none;">@x.Title</a><small class="pull-right text-muted">@x.Author &nbsp; @x.Datatime</small></h4>
                                            @*<p class="text-muted"> <small style="margin:0 0 0 10px;">发布时间：@x.Datatime</small><small class="pull-right" style="margin-right:10px;">浏览量：<span class="badge">99+</span></small></p>
                                            <p style="margin:0 0 15px 10px;">@x.Content</p>*@
                        }
                    </div>
                    @Html.MakePager("pager-item", "active", "pager")
                </div>
            </div>
            <div style="height:80px;"></div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:rgb(17,57,153);">
                        <h3 class="panel-title" style="color:rgb(172,227,156);">推荐文章</h3>
                    </div>
                    @foreach (Article recommendedarticle in ViewBag.recommendedarticle)
            {
                        <div class="panel-body">
                            <a asp-action="Article" asp-controller="Show" asp-route-id="@recommendedarticle.Id" style="text-decoration:none;">@recommendedarticle.Title</a><small class="pull-right text-muted">@recommendedarticle.Author</small>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>