@{ 
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@model IEnumerable<News>
<div style="margin-top:-20px;"></div>
<div class="col-md-9">
    <div class="container-fluid" id="accordion">
        <div class="panel-group" id="accordion">
            <h4><span class="label label-default">校园新闻</span></h4>
            @foreach (var x in Model)
            {
                <div class="panel panel-default ">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#@x.Id" style="color:#000000;text-decoration:none;">
                                @x.Title
                            </a>
                        </h4>
                    </div>
                    <div id="@x.Id" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p class="text-muted">
                                <small>发布时间:@x.Datatime</small>
                                @*<small class="pull-right">点击量：<span class="badge">99+</span></small>*@
                            </p>
                            @*<pre>@x.Content</pre>*@
                            <div>@x.Content</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @Html.MakePager("pager-item", "active", "pager")
</div>


