@model News
<form role="form" asp-action="EditNews" asp-controller="Admin" method="post">
    <div class="form-group">
        <input type="hidden" name="id" value="@Model.Id" />
        <table class="table">
            <tr>
                <th>新闻标题</th>
                <td><input class="form-control" type="text" name="Title" value="@Model.Title" /></td>
            </tr>
            <tr>
                <th>新闻内容</th>
                <td><textarea class="form-control" rows="3" name="Content">@Model.Content</textarea></td>
            </tr>
            <tr>
                <th class="row-title">新闻来源</th>
                <td>
                    <select name="Source" value="@Model.Source">
                        <option>人民网</option>
                        <option>凤凰网</option>
                        <option>其他途径</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="row-title">添加时间</th>
                <td><input class="form-control" type="datetime-local" name="Datatime" value="@Model.Datatime" /></td>
            </tr>
        </table>
        <p>
            <input type="submit" value="修改" />
            <a asp-action="Manage" asp-controller="Home">取消</a>
        </p>
</div>
</form>