@model News
<form role="form" asp-action="EditNews" asp-controller="Admin" method="post">
    <div class="form-group">
        <input type="hidden" name="id" value="@Model.Id" />
        <table class="table">
            <tr>
                <th>新闻标题</th>
                <td><input class="form-control" type="text" name="Title" value="@Model.Title" /></td>
            </tr>
            <tr>
                <th>新闻内容</th>
                <td><textarea class="form-control" rows="3" name="Content">@Model.Content</textarea></td>
            </tr>
            <tr>
                <th class="row-title">新闻来源</th>
                <td>
                    <select name="Source" value="@Model.Source">
                        <option>原创</option>
                        <option>校园</option>
                        <option>教师</option>
                        <option>党支部</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="row-title">添加时间</th>
                <td><input class="form-control" type="datetime" name="Datatime" value="@DateTime.Now" /></td>
            </tr>
        </table>
        <p>
            <input class="btn inverse" type="submit" value="修改" />
            <a asp-action="DetailsNews" asp-controller="Admin">取消</a>
        </p>
</div>
</form>