@model Article
<form role="form" asp-action="EditAriticle" asp-controller="Admin" method="post">
    <div class="form-group">
        <input type="hidden" name="id" value="@Model.Id" />
        <table class="table">
            <tr>
                <th>文章标题</th>
                <td><input class="form-control" type="text" name="Title" value="@Model.Title" /></td>
            </tr>
            <tr>
                <th class="row-title">文章内容</th>
                <td><textarea class="form-control" rows="3" name="Content">@Model.Content</textarea></td>
            </tr>
            <tr>
                <th class="row-title">文章来源</th>
                <td>
                    <select name="Source" value="@Model.Source">
                        <option>人民网</option>
                        <option>凤凰网</option>
                        <option>其他途径</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="row-title">文章类别</th>
                <td>
                    <select name="Source" value="@Model.Category">
                        <option>科学</option>
                        <option>童话</option>
                        <option>自然</option>
                        <option>生物</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="row-title">添加时间</th>
                <td><input class="form-control" type="datetime" name="Datatime" value="@DateTime.Now" /></td>
            </tr>
        </table>
        <p>
            <input class="btn inverse" type="submit" value="修改" />
            <a asp-action="DetailsArticle" asp-controller="Admin">取消</a>
        </p>
    </div>
</form>