@model IEnumerable<RecruitStudents>
    <a asp-action="CreateRecruitStudents" asp-controller="Admin"><h5 style="margin-top:10px;">快速添加招生信息</h5></a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>招生信息ID</th>
                <th>招生信息标题</th>
                <th>录入时间</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <th>@x.Id</th>
                    <th>@x.Title</th>
                    <th>@x.Datatime</th>
                    @if (User.IsSignedIn())
                {
                        <th>
                            <a asp-action="EditRecruitStudents" asp-controller="Admin" asp-route-id="@x.Id">修改</a>
                            <a href="javascript:remove(@x.Id)">删除</a>
                            @*<a asp-action="DeleteRecruitStudents" asp-controller="Admin" asp-route-id="@x.Id">删除</a>*@
                        </th>
                    }
                </tr>
            }
        </tbody>
    </table>

    @Html.MakePager("pager-item", "active", "pager")
    @if (User.IsSignedIn())
    {
        <form asp-aciton="DeleteRecruitStudents" asp-controller="Admin" method="post" id="frmDelete">
            <input type="hidden" id="frmId" name="Id" />
        </form>
        <script>
            function remove(Id) {
                var jug = confirm("确认删除？");
                if (jug == true) {
                    $('#frmId').val(Id);
                    $('#frmDelete').submit();
                }
            }
        </script>
    }
