@model Photos
<form role="form" asp-action="EditPhotos" asp-controller="Admin" method="post">
    <div class="form-group">
        <input type="hidden" name="id" value="@Model.Id" />
        <table class="table">
            <tr>
                <th>照片标题</th>
                <td><input type="text" name="Title" value="@Model.Title" /></td>
            </tr>
            <tr>
                <th>照片路径</th>
                <td><input type="text" name="Content" value="@Model.Path" /></td>
            </tr>
            <tr>
                <th>照片描述</th>
                <td><textarea class="form-control" rows="3" name="Content">@Model.Discription</textarea></td>
            </tr>
            <tr>
                <th>添加时间</th>
                <td><input class="form-control" type="datetime" name="Datatime" value="@DateTime.Now" /></td>
            </tr>
        </table>
        <p>
            <input type="submit" value="修改" />
            <a asp-action="Manage" asp-controller="Home">取消</a>
        </p>
        </div>
</form>